@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #1f2937;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a2e1a; 
}

::-webkit-scrollbar-thumb {
  background: #6E9934; 
}
